.expense-item {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 2rem auto;
    padding: 0 1rem;
    /* border: 1px solid; */
    border-radius: 20px;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5), -5px -5px 5px rgba(0, 0, 0, .5);

    /* justify-content: space-around; */
    align-items: center;
}

.expense-title {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.title {
    color: white;
}

.expense-price {
    margin-left: auto;
    padding: .5rem 1rem;
    background: rgba(162, 9, 223, 0.815);
    
    border: 1px solid white;
    border-radius: 10px;
    outline: 2px solid black;
}